@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'titleFont';
  src: url('/src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'textFont';
  src: url('/src/assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

.arrow-go {
  opacity: 0;
}

.arrow-go:hover {
  opacity: 1;
}

.arrowStyleOne {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.arrowStyleTwo {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

@keyframes movimientoX {
  0%, 100% {
    transform: translatex(10px); /* Posición inicial */
  }
  50% {
    transform: translateY(10px); /* Movimiento hacia abajo */
  }
}

.movimientoX {
  animation: movimientoX 2s ease-in-out infinite; /* Duración y repetición */
}

.enlace-menu {
  transition: 0.3s ease-in-out;

}

.enlace-menu:hover {
  padding-right: 10px;
  letter-spacing: 5px;
  transition: 0.3s ease-in-out;
}
.enlace-menu-contact{
  transition: 0.3s ease-in-out;
}
.enlace-menu-contact:hover {
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
}

.LinkArrowOne {
  opacity: 0;
  transition: 0.3s ease-in-out;

}
.LinkArrowTwo {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.arrowContactOne {
  transition: 0.6s ease-in-out;
  width: 2%;
}
.arrowContactTwo {
  width: 5%;
  transition: 0.6s ease-in-out;
}

h1,h2 {
  font-family: 'titleFont';
}

p {
  font-family: 'textFont';
  text-align: justify;
}

.card-hover {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-hover:hover {
    opacity: 1;
    transition-delay: 0.2s; 
}

.footer_content {
  width: 100%;
}

.title-color {
    color: #dad9d6;
}

.text-color {
    color: rgb(131, 140, 153);
}

.text-color-contet-withe {
    color: #dad9d6;
}

.text-color-contet-withe-p {
    color: #84837e;
}

.bg-color-componentOne {
    background-color: #bcbcb4;
}

header {
    display: flex;
    justify-content: end;
}

.text-size {
    font-size: 3.75rem;
}

@media (max-width: 768px) {
    .text-size {
        font-size: 1.75rem;
    }
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    padding: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 20;
    background-color: #bcbcb4;
    background-color: #1c1c1c;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
}

nav.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.menu-icon {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 25px;
    position: relative;
  }
  
  .menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
  }
  
  .menu-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    position: absolute;
  }
  
  .menu-icon.open span:nth-child(2) {
    opacity: 0;
  }
  


  .menu-icon-x {
    margin-top: 12px;
    margin-right: 10px;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .menu-icon-x span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .menu-icon-x span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }
  
  .menu-icon-x span:nth-child(2) {
    opacity: 0; /* Esconde la línea del medio */
  }
  
  .menu-icon-x span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }


  /* Definir la animación */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Posición inicial */
    }
    50% {
      transform: translateY(50px); /* Movimiento hacia abajo */
    }
  }

  /* Aplicar la animación al SVG */
  .bounce {
    animation: bounce 2s ease-in-out infinite; /* Duración y repetición */
  }
