---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentIntro from "../components/contentIntro.astro";
import GridProyects from "../components/GridProyects.astro"
import TwoColsLefts from "../components/TwoColsLefts.astro";
import TwoColsRight from "../components/TwoColsRight.astro";
import ContentSocial from "../components/ContentSocial.astro";
const titlePage = "Monev Mx - AGENCIA ESPECIALIZADA";
---

<BaseLayout titlePage={titlePage}>
<!-- COMPONENTE DE PRESENTACION -->
<ContentIntro 
    titleOne="SOMOS UNA AGENCIA ESPECIALIZADA"
    descriptionOne ="Monev es una agencia especializada en generar soluciones estratégicamente creativas para satisfacer las necesidades de sus clientes. Su metodología de trabajo está basada en el Design Thinking, centrada en el usuario y orientada a la acción"
    descriptionTwo ="El objetivo de Monev es ofrecer soluciones innovadoras, reales, viables y alcanzables que ayuden a sus clientes a alcanzar sus objetivos."
/>
<!-- COMPONENTE DE PROYECTOS -->
<GridProyects 
    imgOne="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleOne="Proyecto uno"
    textOne="este es el proyecto uno"
    dateOne="11/11/11"
    imgTwo="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleTwo="Proyecto uno"
    textTwo="este es el proyecto uno"
    dateTwo="11/11/11"
    imgThree="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleThree="Proyecto uno"
    textThree="este es el proyecto uno"
    dateThree="11/11/11"
    imgFour="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleFour="Proyecto uno"
    textFour="este es el proyecto uno"
    dateFour="11/11/11"
    imgFive="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleFive="Proyecto uno"
    textFive="este es el proyecto uno"
    dateFive="11/11/11"
    imgSix="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleSix="Proyecto uno"
    textSix="este es el proyecto uno"
    dateSix="11/11/11"
    imgSeven="https://1.bp.blogspot.com/-H0obwPWWB2Q/VjcgdxRG6bI/AAAAAAAAAAg/V4UiIbUHnB0/s640/Pug_portrait.jpg"
    titleSeven="Proyecto uno"
    textSeven="este es el proyecto uno"
    dateSeven="11/11/11"
/>
<!-- COMPONENTE DE NUESTROS SERVICIOS CON ENLACES A LA IZQUIERDA-->
<div class="z-20 bg-gray-600 relative">
<TwoColsLefts
    LeftlinkOne = "Branding"
    Leftfirstlink = "/"
    LeftlinkTwo = "Publicidad"
    Leftsecondlink = "/"
    LeftlinkThree = "Proyectos"
    LeftthirdLink = "/"
    LeftFirstTitle = "Nuestros proyectos"
    LeftFirstText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore temporibus consequatur veniam possimus, iure eius accusantium rem praesentium maxime pariatur aut vel ipsa repellendus ipsam dolor dolore excepturi commodi!"
    LeftSecondTitle = "Proyectos"
    LeftSecondText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore temporibus consequatur veniam possimus, iure eius accusantium rem praesentium maxime pariatur aut vel ipsa repellendus ipsam dolor dolore excepturi commodi!"
/>
<!-- COMPONENTE DE NUESTROS SERVICIOS CON ENLACES A LA DERECHA-->
<TwoColsRight
RightlinkOne = "Branding"
Rightfirstlink = "/"
RightlinkTwo = "Publicidad"
Rightsecondlink = "/"
RightlinkThree = "Proyectos"
RightthirdLink = "/"
RightFirstTitle = "Contacto"
RightFirstText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore temporibus consequatur veniam possimus, iure eius accusantium rem praesentium maxime pariatur aut vel ipsa repellendus ipsam dolor dolore excepturi commodi!"
RightSecondTitle = "Proyectos"
RightSecondText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore temporibus consequatur veniam possimus, iure eius accusantium rem praesentium maxime pariatur aut vel ipsa repellendus ipsam dolor dolore excepturi commodi!"
/>
<!-- COMPONENTE DE NUESTRAS REDES SOCIALES Y CONTACTO -->
<ContentSocial 
    titleUs = "¿Quienes Somos?"
    imgTeamOne = "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
    nameMemberOne = "Nombre"
    positionMemberOne = "Team"
    imgTeamTwo = "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
    nameMemberTwo = "Nombre"
    positionMemberTwo = "Team"
/>
</div>
</BaseLayout>
