---
const titleFooter = "Monev Logo footer";
import Social from "./Social.astro";
---

<footer>
    <Social platform="instagram" username="monev_mx"/>
    <Social platform="facebook" username="monevmx"/>
    <Social platform="behance" username="monevmx"/>
    <h2>{titleFooter}</h2>
</footer>