---
const headerLogo = "MONEV LOGO";
---

<header class="sticky top-0 left-0 w-full z-50 flex justify-between pl-2" >
    
    <h1 class="font-bold font-sans pt-2 pb-5 text-3xl title-color"><a href="/">Monev Mx</a></h1>

    <div class="abrir-menu menu-icon" id="abrir">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="nav visibl" id="nav">
        <div class="menu-icon-x" id="cerrar">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-list">
            <li><a class="text-size" href="/">Home</a></li>
            <li><a class="text-size" href="/portafolio">Portafolio</a></li>
            <li><a class="text-size" href="/nosotros">Nosotros</a></li>
            <li><a class="text-size" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>

<script>
const nav = document.querySelector("#nav");
const abrir = document.querySelector("#abrir");
const cerrar = document.querySelector("#cerrar");

abrir.addEventListener("click", () =>{
    nav.classList.add("visible");
})

cerrar.addEventListener("click", () =>{
    nav.classList.remove("visible");
})

</script>