---
const headerLogo = "MONEV LOGO"
---
    <header class="fixed top-0 left-0 w-full shadow-md z-50">
        <nav>
            <h2>{headerLogo}</h2>
            <div class="space-x-4">
                <a href="/">Home</a>
                <a href="/portafolio">Portafolio</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contacto">Contacto</a>
            </div>
        </nav>
    </header>

