---
const headerLogo = "MONEV LOGO"
---

<header>
    <nav>
        <h2>{headerLogo}</h2>
        <a href="/">Home</a>
        <a href="/portafolio">Portafolio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>